@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lakki+Reddy&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Serif+Khitan+Small+Script&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

body{
    background-color:#f9f4ef ;
    margin: 0;
    padding: 0;
 }

 .heading{
    margin:20px;
    text-align: center;
    color: #020826;
    font-size: 3.5rem;
 }

 /* container-1 */
.chef-1{
    display: flex;
    border: 1px solid brown;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 10px;
 }

.chef-1-img{
    margin-left: 90px;
    height: 400px;
    width: 300px;
    padding: 20px;
}

.chef-1-para{
    text-align: center;
    margin-left: 70px;
    margin-right: 30px;
    font-family: "Nanum Myeongjo", serif;
    font-size: 1.3rem;
}

.heading2{
    text-align: center;
    color:#f25042;
    font-size: 2.5rem;
    font-style: normal;
 }

 /* container-2 */
.chef-2{
    display: flex;
    border: 1px solid brown;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 10px;

 }

.chef-2-img{
    margin-left: 90px;
    height: 400px;
    width: 300px;
    padding: 20px;
}

.chef-2-para{
    text-align: center;
    margin-left: 70px;
    margin-right: 30px;
    font-family: "Nanum Myeongjo", serif;
    font-size: 1.3rem;
}

.heading2{
    text-align: center;
    color:#f25042;
    font-size: 2.5rem;
    font-style: normal;
 }

 /* container-3 */
.chef-3{
    display: flex;
    border: 1px solid brown;
    margin-left: 100px;
    margin-right: 50px;
 }

.chef-3-img{
    margin-left: 90px;
    height: 400px;
    width: 300px;
    padding: 20px;
}

.chef-3-para{
    text-align: center;
    margin-left: 70px;
    margin-right: 30px;
    font-family: "Nanum Myeongjo", serif;
    font-size: 1.3rem;
}

.heading2{
    text-align: center;
    color:#f25042;
    font-size: 2.5rem;
    font-style: normal;
 }