 body{
    background-color: #eaddcf;
    margin: 0;
    padding: 0;
 }

 .heading{
    margin:20px;
    text-align: center;
    color: #020826;
 }
 
 .shop-img{
    height:40px;
     width:40px;
     display: block;
     margin: 20px auto;
 }

 
 .header-section{
    display: flex;
 }

 .header-section-img{
    height:550px;
    width: 550px;
 }